<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="doppelzwei.TrackMixer"
    Publisher="CN=634D4DD0-476A-4BC5-820B-6F97A8EFCB04"
    Version="2.5.0.0" />

  <mp:PhoneIdentity PhoneProductId="6b6aa316-8f3a-4411-8714-7239e8d3bb99" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Track Mixer</DisplayName>
    <PublisherDisplayName>doppelzwei</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Track Mixer"
        Description="Track Mixer is the ultimate media player designed for gamers and content creators who need a fast, efficient way to review multi-track gaming clips. Perfect for videos recorded with tools like NVIDIA Shadowplay or OBS, it plays back all audio tracks simultaneously while giving you individual volume sliders for each track. Its tab-based navigation ensures effortless browsing, while powerful features like playlist filtering and clip rating make organizing and reviewing your content a breeze."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" ShortName="Track Mixer">
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="transparent"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="videos">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/mp4">.mp4</uap:FileType>
              <uap:FileType ContentType="video/mp4">.m4v</uap:FileType>
              <uap:FileType ContentType="video/x-matroska">.mkv</uap:FileType>
              <uap:FileType ContentType="video/x-msvideo">.avi</uap:FileType>
              <uap:FileType ContentType="video/x-ms-wmv">.wmv</uap:FileType>
              <uap:FileType ContentType="video/quicktime">.mov</uap:FileType>
              <uap:FileType ContentType="video/webm">.webm</uap:FileType>
              <uap:FileType ContentType="video/mpeg">.mpg</uap:FileType>
              <uap:FileType ContentType="video/mpeg">.mpeg</uap:FileType>
              <uap:FileType ContentType="video/mp2t">.ts</uap:FileType>
              <uap:FileType ContentType="video/mp2t">.m2ts</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Videos</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <uap:Capability Name="videosLibrary"/>
  </Capabilities>
</Package>
